h1 {
    text-align: justify;
    font-weight: 200;
}
h2 {
    color: #fff;
}
h3 {
    background-color: #111;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 50px rgba(0,0,0,0.3);
    text-align: center;
    font-size: 1em;
}
img {
    border-radius: 10%; 
    max-width: 100%; 
    height: auto;

      
}
div {
    text-align: center;
}
footer {
    margin: 0;
    padding: 10px;
    width: 100%;
  }
  
    
  
  