.color-1 {
  color: #000f08;
}

.color-2 {
  color: #1c3738;
}

.color-3 {
  color: #4d4847;
}

.color-4 {
  color: #f4fff8;
}

.color-5 {
  color: #8baaad;
}

.bg-color-1 {
  background: #000f08;
}

.bg-color-2 {
  background: #1c3738;
}

.bg-color-3 {
  background: #4d4847;
}

.bg-color-4 {
  background: #f4fff8;
}

.bg-color-5 {
  background: #8baaad;
}

.bg-custom-1C3738 {
  background-color: #1c3738;
}
.bg-custom-F4FFF8 {
  background-color: #f4fff8;
}
